#
# Apache settings for Substance.
#

# Protect stuff we don't want the public to see
#<FilesMatch "\.(sql)">
#  Order allow,deny
#</FilesMatch>

# No directory listings
Options -Indexes

# Set the default handler
DirectoryIndex index.php

# Force sane defaults for PHP
<IfModule mod_php5.c>
  php_flag default_charset "UTF-8"
  php_flag magic_quotes_gpc off
  php_flag magic_quotes_runtime off
  php_flag magic_quotes_sybase off
  php_flag mbstring.encoding_translation "UTF-8"
  php_flag mbstring.internal_encoding "UTF-8"
  php_flag mbstring.http_input "UTF-8"
  php_flag mbstring.http_output "UTF-8"
#  php_flag mbstring.script_encoding "UTF-8"
#  php_flag zend.script_encoding "UTF-8"
  php_flag register_globals off
  php_flag session.auto_start off
  php_flag session.cache_limiter ""
  php_flag session.cookie_httponly on
  php_flag session.use_cookies on
  php_flag session.use_only_cookies on
  php_flag session.use_strict_mode on
  php_flag session.use_trans_sid off
</IfModule>