#
# Apache settings for Substance.
#

# Protect stuff we don't want the public to see
#<FilesMatch "\.(sql)">
#  Order allow,deny
#</FilesMatch>

# No directory listings
Options -Indexes

# Set the default handler
DirectoryIndex index.php

# Force sane defaults for PHP
<IfModule mod_php5.c>
  php_value default_charset "UTF-8"
  php_flag magic_quotes_gpc off
  php_flag magic_quotes_runtime off
  php_flag magic_quotes_sybase off
  php_value mbstring.encoding_translation "UTF-8"
  php_value mbstring.internal_encoding "UTF-8"
  php_value mbstring.http_input "UTF-8"
  php_value mbstring.http_output "UTF-8"
#  php_value mbstring.script_encoding "UTF-8"
#  php_value zend.script_encoding "UTF-8"
  php_flag register_globals off
  php_flag session.auto_start off
#  php_value session.cache_limiter ""
  php_flag session.cookie_httponly on
  php_flag session.use_cookies on
  php_flag session.use_only_cookies on
  php_flag session.use_strict_mode on
  php_flag session.use_trans_sid off
</IfModule>

# Rewrite rules
<IfModule mod_rewrite.c>
  RewriteEngine on

  # If rewrite rules are not working properly, set the appropriate base URL for
  # RewriteRule's. For example, if your site is hosted at http://example.com/
  # then set the following:
  # RewriteBase /
  #
  # else if hosted in a subdirectory http://www.example.com/substance then set
  # the following
  # RewriteBase /substance

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.php [L]
</IfModule>
